.mdl-layout.theme-light code .hll, .mdl-layout.theme-light pre.code .hll { background-color: #a39e9b }
.mdl-layout.theme-light code, .mdl-layout.theme-light pre.code, .mdl-layout.theme-light .literal, .mdl-layout.theme-light .literal-block { background: #e7e9db; color: #2f1e2e }
.mdl-layout.theme-light code .c, .mdl-layout.theme-light pre.code .c { color: #8d8687 } /* Comment */
.mdl-layout.theme-light code .err, .mdl-layout.theme-light pre.code .err { color: #ef6155 } /* Error */
.mdl-layout.theme-light code .k, .mdl-layout.theme-light pre.code .k { color: #815ba4 } /* Keyword */
.mdl-layout.theme-light code .l, .mdl-layout.theme-light pre.code .l { color: #f99b15 } /* Literal */
.mdl-layout.theme-light code .n, .mdl-layout.theme-light pre.code .n { color: #2f1e2e } /* Name */
.mdl-layout.theme-light code .o, .mdl-layout.theme-light pre.code .o { color: #5bc4bf } /* Operator */
.mdl-layout.theme-light code .p, .mdl-layout.theme-light pre.code .p { color: #2f1e2e } /* Punctuation */
.mdl-layout.theme-light code .ch, .mdl-layout.theme-light pre.code .ch { color: #8d8687 } /* Comment.Hashbang */
.mdl-layout.theme-light code .cm, .mdl-layout.theme-light pre.code .cm { color: #8d8687 } /* Comment.Multiline */
.mdl-layout.theme-light code .cp, .mdl-layout.theme-light pre.code .cp { color: #8d8687 } /* Comment.Preproc */
.mdl-layout.theme-light code .cpf, .mdl-layout.theme-light pre.code .cpf { color: #8d8687 } /* Comment.PreprocFile */
.mdl-layout.theme-light code .c1, .mdl-layout.theme-light pre.code .c1 { color: #8d8687 } /* Comment.Single */
.mdl-layout.theme-light code .cs, .mdl-layout.theme-light pre.code .cs { color: #8d8687 } /* Comment.Special */
.mdl-layout.theme-light code .gd, .mdl-layout.theme-light pre.code .gd { color: #ef6155 } /* Generic.Deleted */
.mdl-layout.theme-light code .ge, .mdl-layout.theme-light pre.code .ge { font-style: italic } /* Generic.Emph */
.mdl-layout.theme-light code .gh, .mdl-layout.theme-light pre.code .gh { color: #2f1e2e; font-weight: bold } /* Generic.Heading */
.mdl-layout.theme-light code .gi, .mdl-layout.theme-light pre.code .gi { color: #48b685 } /* Generic.Inserted */
.mdl-layout.theme-light code .gp, .mdl-layout.theme-light pre.code .gp { color: #8d8687; font-weight: bold } /* Generic.Prompt */
.mdl-layout.theme-light code .gs, .mdl-layout.theme-light pre.code .gs { font-weight: bold } /* Generic.Strong */
.mdl-layout.theme-light code .gu, .mdl-layout.theme-light pre.code .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.mdl-layout.theme-light code .kc, .mdl-layout.theme-light pre.code .kc { color: #815ba4 } /* Keyword.Constant */
.mdl-layout.theme-light code .kd, .mdl-layout.theme-light pre.code .kd { color: #815ba4 } /* Keyword.Declaration */
.mdl-layout.theme-light code .kn, .mdl-layout.theme-light pre.code .kn { color: #5bc4bf } /* Keyword.Namespace */
.mdl-layout.theme-light code .kp, .mdl-layout.theme-light pre.code .kp { color: #815ba4 } /* Keyword.Pseudo */
.mdl-layout.theme-light code .kr, .mdl-layout.theme-light pre.code .kr { color: #815ba4 } /* Keyword.Reserved */
.mdl-layout.theme-light code .kt, .mdl-layout.theme-light pre.code .kt { color: #fec418 } /* Keyword.Type */
.mdl-layout.theme-light code .ld, .mdl-layout.theme-light pre.code .ld { color: #48b685 } /* Literal.Date */
.mdl-layout.theme-light code .m, .mdl-layout.theme-light pre.code .m { color: #f99b15 } /* Literal.Number */
.mdl-layout.theme-light code .s, .mdl-layout.theme-light pre.code .s { color: #48b685 } /* Literal.String */
.mdl-layout.theme-light code .na, .mdl-layout.theme-light pre.code .na { color: #06b6ef } /* Name.Attribute */
.mdl-layout.theme-light code .nb, .mdl-layout.theme-light pre.code .nb { color: #2f1e2e } /* Name.Builtin */
.mdl-layout.theme-light code .nc, .mdl-layout.theme-light pre.code .nc { color: #fec418 } /* Name.Class */
.mdl-layout.theme-light code .no, .mdl-layout.theme-light pre.code .no { color: #ef6155 } /* Name.Constant */
.mdl-layout.theme-light code .nd, .mdl-layout.theme-light pre.code .nd { color: #5bc4bf } /* Name.Decorator */
.mdl-layout.theme-light code .ni, .mdl-layout.theme-light pre.code .ni { color: #2f1e2e } /* Name.Entity */
.mdl-layout.theme-light code .ne, .mdl-layout.theme-light pre.code .ne { color: #ef6155 } /* Name.Exception */
.mdl-layout.theme-light code .nf, .mdl-layout.theme-light pre.code .nf { color: #06b6ef } /* Name.Function */
.mdl-layout.theme-light code .nl, .mdl-layout.theme-light pre.code .nl { color: #2f1e2e } /* Name.Label */
.mdl-layout.theme-light code .nn, .mdl-layout.theme-light pre.code .nn { color: #fec418 } /* Name.Namespace */
.mdl-layout.theme-light code .nx, .mdl-layout.theme-light pre.code .nx { color: #06b6ef } /* Name.Other */
.mdl-layout.theme-light code .py, .mdl-layout.theme-light pre.code .py { color: #2f1e2e } /* Name.Property */
.mdl-layout.theme-light code .nt, .mdl-layout.theme-light pre.code .nt { color: #5bc4bf } /* Name.Tag */
.mdl-layout.theme-light code .nv, .mdl-layout.theme-light pre.code .nv { color: #ef6155 } /* Name.Variable */
.mdl-layout.theme-light code .ow, .mdl-layout.theme-light pre.code .ow { color: #5bc4bf } /* Operator.Word */
.mdl-layout.theme-light code .w, .mdl-layout.theme-light pre.code .w { color: #2f1e2e } /* Text.Whitespace */
.mdl-layout.theme-light code .mb, .mdl-layout.theme-light pre.code .mb { color: #f99b15 } /* Literal.Number.Bin */
.mdl-layout.theme-light code .mf, .mdl-layout.theme-light pre.code .mf { color: #f99b15 } /* Literal.Number.Float */
.mdl-layout.theme-light code .mh, .mdl-layout.theme-light pre.code .mh { color: #f99b15 } /* Literal.Number.Hex */
.mdl-layout.theme-light code .mi, .mdl-layout.theme-light pre.code .mi { color: #f99b15 } /* Literal.Number.Integer */
.mdl-layout.theme-light code .mo, .mdl-layout.theme-light pre.code .mo { color: #f99b15 } /* Literal.Number.Oct */
.mdl-layout.theme-light code .sb, .mdl-layout.theme-light pre.code .sb { color: #48b685 } /* Literal.String.Backtick */
.mdl-layout.theme-light code .sc, .mdl-layout.theme-light pre.code .sc { color: #2f1e2e } /* Literal.String.Char */
.mdl-layout.theme-light code .sd, .mdl-layout.theme-light pre.code .sd { color: #8d8687 } /* Literal.String.Doc */
.mdl-layout.theme-light code .s2, .mdl-layout.theme-light pre.code .s2 { color: #48b685 } /* Literal.String.Double */
.mdl-layout.theme-light code .se, .mdl-layout.theme-light pre.code .se { color: #f99b15 } /* Literal.String.Escape */
.mdl-layout.theme-light code .sh, .mdl-layout.theme-light pre.code .sh { color: #48b685 } /* Literal.String.Heredoc */
.mdl-layout.theme-light code .si, .mdl-layout.theme-light pre.code .si { color: #f99b15 } /* Literal.String.Interpol */
.mdl-layout.theme-light code .sx, .mdl-layout.theme-light pre.code .sx { color: #48b685 } /* Literal.String.Other */
.mdl-layout.theme-light code .sr, .mdl-layout.theme-light pre.code .sr { color: #48b685 } /* Literal.String.Regex */
.mdl-layout.theme-light code .s1, .mdl-layout.theme-light pre.code .s1 { color: #48b685 } /* Literal.String.Single */
.mdl-layout.theme-light code .ss, .mdl-layout.theme-light pre.code .ss { color: #48b685 } /* Literal.String.Symbol */
.mdl-layout.theme-light code .bp, .mdl-layout.theme-light pre.code .bp { color: #2f1e2e } /* Name.Builtin.Pseudo */
.mdl-layout.theme-light code .vc, .mdl-layout.theme-light pre.code .vc { color: #ef6155 } /* Name.Variable.Class */
.mdl-layout.theme-light code .vg, .mdl-layout.theme-light pre.code .vg { color: #ef6155 } /* Name.Variable.Global */
.mdl-layout.theme-light code .vi, .mdl-layout.theme-light pre.code .vi { color: #ef6155 } /* Name.Variable.Instance */
.mdl-layout.theme-light code .il, .mdl-layout.theme-light pre.code .il { color: #f99b15 } /* Literal.Number.Integer.Long */
