/* NtDocutils https://ntrrg.github.io/NtDocutils/ */
/* Copyright 2017 Miguel Angel Rivera Notararigo */

@charset "UTF-8";

@media print {
  .media-screen {
    display: none !important;
  }

  .mdl-layout__container {
    position: relative;
  }

  main {
    margin-top: 0px;
  }

  .ribbon,
  .mdl-layout__content > .mdl-grid .mdl-cell:first-child,
  .mdl-layout__content > footer,
  #snackbar,
  #filter_selection,
  #options,
  #gallery {
    display: none;
  }

  body * {
    box-shadow: none !important;
  }

  body,
  .mdl-layout__container,
  .mdl-layout,
  .mdl-layout__content > .mdl-grid,
  .mdl-layout__content > .mdl-grid .content,
  .document {
    width: 100%;

    background: initial;
    margin: 0 auto;
    padding: 0px;
  }

  .mdl-layout dl.docinfo {
    max-width: 45%;
    width: 45%;

    display: inline-block;
  }

  .article-image {
    max-height: 50vh;
    max-width: 50%;

    float: right;
    margin-bottom: 0.5em;
  }

  dl.option-list.exclusive::before {
    left: 0px;
  }

  dl.option-list.exclusive::after {
    right: 0px;
  }

  div.admonition {
    width: calc(100% - 4em);

    margin: 1em 0px;
    padding: 2em;
    page-break-inside: avoid;
  }

  div.sidebar {
    border: 1px solid rgba(0, 0, 0, 0.12);
    page-break-inside: avoid;
  }
}